/* Colors and fonts */
body {
	background-color: #EAE4DD;
	color: #0766AD;
  	font-family: "Tinos", serif;
  	font-weight: 400;
  	font-style: normal;
}
	font-size: 17px;
}
h1, h2, h3{
  	font-family: "Tinos", serif;
  	font-weight: 700;
  	font-style: normal;
}

}
h1{
	color: #0C2D57;
	font-size:32px;
}
h2{
	color: #091057;
	font-weight: lighter;
	font-size:24px;
}
a{
	text-decoration: none;
	color: #6482AD;
	font-family: "Tinos", serif;
  	font-weight: 400;
  	font-style: italic;
}
a:hover{
	color: #295F98;
}



/* Custom design with class (99% of your design) */




.container{
	width: 700px;
	margin: 40px auto;
}


@media (max-width: 760px) {
	.container{
		width: 600px;
	}
}


.card-white{
	background color: white;
	padding: 40px;
	box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
	border-radius: 4px;
	margin: 20px 0px;
	text-align: center;
}

.img-circle{
	border-radius:50%;
}
.btn-blue{
	background-color: #6482AD;
	color: white;
	padding: 15px 20px;
	border-radius: 4px;
}
.btn-blue:hover {
	background-color: black;
	color: white;
}

.list-inline {
	list-style: none;
	padding-left: 0px;
}
.list-inline li {
	display: inline;
	padding: 10px;
}
.list-inline i {
	font-size: 50px;
	color: #0766AD;
}

.list-inline i:hover {
	font-size: 50px;
	color: black;
}
/* Design adjustment using id (1% of design remaining) */


#introduction p{
	margin-bottom: 40px;

}


